.LoaderContainer{
    height: 100vh;
    display: flex;
    align-items: center;
}

.CalendarContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title{
    font-size: xx-large;
    font-weight: bold;
}

.SubTitle{
    margin: 20px 0;
    font-size: x-large;
    font-weight: bold;
}

.Calendar{
    height: 100%;
    margin: 50px 0 ;
}

.SelectedDate{
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
}

.EventName{
    margin-top: 20px;
    background: #EC407A;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

